@page
<div class="left">
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
<div class="text-center">
    <h1 class="header"> </h1>
    <div class="flexbox">
         <div class="flex-child">
             <div class="large-txt">Erin Beasley</div> 
             <br /> 
             <a href="/lib/ErinBeasley_Resume.pdf">Resume</a> 
             <br /> 
             <a href="https://github.com/Era498">Github</a>
          </div>
    <div class="flex-child"> <img src=/lib/ebeasley_pic.jpg alt="Picture of Erin" width="168" height="168" />
         <div class="flex-child"></div>    
    </div>
    </div>
</div>
