@page
<div >
    <div class="text-center">
        <h1 class="header"> </h1>
        <div class="left" >
            <!-- Toggle switch design created by Jon Kantner-->
            <input class="l" type="checkbox" onclick="darkMode()">
        </div>
        <div class="flexbox">
                <div class="flex-child">
                    <div class="intro">
                    Hello! My name is <div class="large-txt"><b>Erin Beasley<span style="color: #3ade65;">.</span></b></div> 
                    I am a graduate from SCS at Carnegie Mellon. I am now working at Microsoft as a SWE in DevDiv.
                    <br /> 
                    See my resume 
                    <a href="/lib/ErinBeasley_Resume.pdf">here</a> and check out my
                    <a href="https://github.com/Era498">Github</a>
                    <br />
                    <br />
                    <div class="large-txt"> Projects </div>
                    </div>
                    
                    <button type="button" class="collapsible-dark" id="menu">COVID SIR Model</button>
                    <div class="content">
                        <p>A node-graph based SIR Model I made while learning React. You can interact with the model by clicking on the nodes. 
                            By double clicking, you can add additional connections. 
                            <br />
                            <a href="https://github.com/Era498/COVID-SIR">GitHub</a> </p>
                            <a href="https://trusting-varahamihira-144139.netlify.app">Link to Demo</a> </p>
                    </div>
                    <button type="button" class="collapsible-dark" id="menu2">SVG + Canvas Drawing Tool</button>
                    <div class="content">
                        <p>A drawing tool I made while learning javascript. Implements both SVG and canvas drawing
                            <br />
                            <a href="https://github.com/Era498/draw">GitHub</a> </p>
                            <a href="https://romantic-hoover-eedfc0.netlify.app/">Link to Demo</a> </p>
                    </div>
                </div>
        <div class="flex-child"> <img src=/lib/Erin_portrait.png  id="profpic" alt="Picture of Erin" value="dark" width="1822" height="1615" />
            <div class="flex-child"></div>  
        </div>
        </div>
       
    </div>
    <script src="~/js/site.js"></script>
</div>
