<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - erinbeasley</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/erinbeasley.styles.css" asp-append-version="true" />
</head>
    <header class="header">
    </header>
<body>
    <div class="left" >
        <!--toggle switch by Jon Kantner-->
       <label class="switch style">
            <label class="f">
              <input class="f__input" type="checkbox" name="faction" value="empire" onclick="darkMode()">
              <span class="f__switch">
                <span class="f__handle">
                  <span class="f__1"></span>
                  <span class="f__2">
                    <span class="f__2a"></span>
                    <span class="f__2b"></span>
                    <span class="f__2c"></span>
                    <span class="f__2d"></span>
                    <span class="f__2e"></span>
                  </span>
                  <span class="f__3"></span>
                  <span class="f__4"></span>
                  <span class="f__5"></span>
                  <span class="f__6"></span>
                  <span class="f__7"></span>
                  <span class="f__8"></span>
                  <span class="f__9"></span>
                  <span class="f__10"></span>
                  <span class="f__11"></span>
                  <span class="f__12"></span>
                  <span class="f__13"></span>
                  <span class="f__14"></span>
                  <span class="f__15"></span>
                  <span class="f__16"></span>
                  <span class="f__17"></span>
                </span>
              </span>
            </label>
        </label>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - erinbeasley - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function darkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>